.PlayerCreation {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
}

.PlayerCreation p {
  font-size: 1.3rem;
}

.PlayerCreation h1 {
  margin: 1rem 0;
}

.PlayerCreation label {
  margin: 1rem 0;
}

.PlayerCreation input {
  margin-block-start: 0.25rem;
}

.PlayerCreation button {
  margin-block-end: 1rem;
}

@media screen and (max-width: 400px) {
  .PlayerCreation {
    height: 100vh;
  }
}

@media screen and (min-width: 400px) {
  body {
    display: grid;
    place-items: center;
  }

  .PlayerCreation {
    border-radius: 5px;
    padding: 1rem 2rem;
    box-shadow: var(--lone-wolf-shadow);
  }
}
